%div#answer-page.page
  %form{method: 'POST'}
    %div.row
      %div.large-12.columns#answer
        &= card.answer
    %hr
    %div.row
      %div.large-4.columns
        %button{name: 'score', value: 'fail'} fail
      %div.large-4.columns
        %button{name: 'score', value: 'poor'} poor
      %div.large-4.columns
        %button{name: 'score', value: 'good'} good
