%div#answer-page.page
  %form{method: 'POST'}
    %div#answer
      &= card.answer
    %button{name: 'score', value: 'fail'} fail
    %button{name: 'score', value: 'poor'} poor
    %button{name: 'score', value: 'good'} good
