%div#card-editor-page.page
  %form(method='POST' action='/editor/')
    %input(type='text' name='the-question' id='field-question' value='')
    %input(type='text' name='the-answer' id='field-answer' value='')
    %button add card

  %div
    Last card added was:
    %span#last-added-card-id
