%div#card-editor-page.page
  %form(method='POST' action='/editor/')
    %label(for='card-model') Card model
    %select(id='card-model')
      - card_models.each do |id, name|
        %option{value: id}
          &= name
    %input(type='text' name='the-question' id='field-question' value='')
    %input(type='text' name='the-answer' id='field-answer' value='')
    %button add card

  -# Hack for the system tests
  -if last_card_id
    %div
      Last card added was:
      %span#last-added-card-id
        = last_card_id.to_guid
