%div#card-editor-page.page
  %form
    %input(type='text' id='field-question' value='')
    %input(type='text' id='field-answer' value='')
    %button add card

  %div
    Last card added was:
    %span#last-added-card-id
