%html
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "/css/normalize.css", :rel => "stylesheet"}/
    %link{:href => "/css/foundation.css", :rel => "stylesheet"}/
    %script{:src => "/js/vendor/custom.modernizr.js"}
  %body#srsrb-main
    = yield
