%div#model-editor-page.page
  %form(method='GET' action='')
    %div.row
      %div.large-12.columns
        %label(for='model-name') model name
        %input(type='text' id='model-name' name='model_name' value=model_name)

    %div.row
      %div.large-6.columns
        %label Existing Fields
        - for field in fields
          %dt
            %input.field-name(name='field_name[]' value=field)

      %div.large-6.columns
        %label(for='new-field-name') new field name
        %input(type='text' id='new-field-name' name='new_field_name')

        %button(name='action' value='add-field') add field

    %hr
    %div.row
      %div.large-12.columns
        %label Question Template
        %textarea(id='question template' name='question')
        %label Answer Template
        %textarea(id='answer template' name='answer')

        %button(name='action' value='commit') save
